*{margin: 0px; padding: 0px;}

body{
  margin-top: 20px;
  text-align: center;
  background-image: url("imgs/old_map.png");
  }

#page{
  width: 960px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  }

#header{
  font: 1.1em courier; color: white;
  border-bottom: 6px, solid #000000;
  background-color: #313B44;
  }

h1{
  background-image: url("imgs/logo.png");
  background-repeat: no-repeat;
  background-position: 25px center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  }
